{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>
            {% for history in histories %}
                <tr>
                    <td class="text-start">{{ history.symbol }}</td>
                    <td class="text-start">{{ history.name }}</td>
                    <td class="text-end">{{ history.shares }}</td>
                    <td class="text-end">{{ history.price | usd}}</td>
                    <td class="text-end">{{ history.absnum | usd}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
{% endblock %}
